body{
    font-family: 'Space Mono', monospace;
    cursor: crosshair;
}

a:nth-of-type(1), a:nth-of-type(2) {
    cursor: url("/img/cursor.svg")  5 5, auto;
}

/* recursos para la tipografia */
.fuente-web{
    font-family: 'Space Mono', monospace;
}

/* demas elementos */
.centrar-menu{
    margin: 0px auto;
}
.menu-prpal{
    margin-bottom: 2rem;
}

/* portafolios1 */
.galeria-portafolio_1{
    position: relative;
}
.galeria-portafolio_1 div.contenedor-img:nth-child(1){
    margin-top: 0px;
}
.contenedor-img{
    position: relative;
    z-index: 1;
    margin-top: 10rem;
}
.img_galeria{
    width: 100%;
}
.galeria1 a:nth-child(1){
    position: relative;
    top: 1rem;
    left: 5rem;
}
.galeria1 a:nth-child(2){
    position: relative;
    top: 10rem;
    left: -5rem;
}

/* portafolios2 */
.galeria2 a:nth-child(1){
    position: relative;
    top: 8rem;
    left: 5rem;
    z-index: 1;
}
.galeria2 a:nth-child(2){
    position: relative;
    top: 3rem;
    left: -10rem;
}

#botonera-menu a{
    font-weight: 600;
    color: black;
    font-size: 1.1rem;
    margin-left: 6rem;
    text-align: center;
}
#botonera-menu a:hover{
    color:#00ff7e;
    text-decoration: underline;
    cursor: url("/img/cursor.svg")  5 5, auto;
}

marquee{
    font-size: 2rem;
    position: fixed;
    bottom: 1rem;
}
marquee a{
    text-decoration: none;
    color: #00ff7e;
}
.color-verde{
    color:#00ff7e;
}
.color-negro{
    color:black;
}
.texto-intro{
    width: 100%;
    margin: 0px auto;
    text-align: justify;
    margin-top: 20rem;
    font-size: 1.3rem;
    /* position: fixed; */
}
.logo{
    position: fixed;
    text-align: center;
    left: 0px;
    right: 0px;
    top: 5rem;
}
#logo{
    width: 50%;
    position: relative;
}

.cajon{
    position:fixed;
    top: 5rem;
    background-repeat: no-repeat;
    left: calc(50% - 100px);
    z-index: 2;
}

.galeria-portafolio{
    position: relative;
    top: 0rem;
    z-index: -1;
}

@media screen and (max-width: 992px) {
    .contenedor-img{
        margin-top: 0px;
    }
    .galeria1 img:nth-child(1),
    .galeria1 img:nth-child(2),
    .galeria2 img:nth-child(1),
    .galeria2 img:nth-child(2) {
        width: 100%; 
        top: 0px;
        left: 0px;
    }
}