<%- include('../partials/header') %>

    <div class="container">
        <div class="texto-intro">
            <p>
                <b><a class="color-negro" href="/hiedra">hiedra</a></b> es un proyecto de diseño gráfico enfocado en

                museografía y diseño editorial <span class="color-verde">* * *</span> eun experimen-
                to de publicaciones impresas, sonoras, digitales y
    
                ficticias <b class="btn1">><a class="color-negro" href="#!">[malahierba]</a><</b> <span class="color-verde">* * *</span> y una cartografía mu-
                sical en permanente construcción <b class="btn2">><a class="color-negro" href="#!">[malahierba trop-ical]</a><</b>
            </p> 
        </div>
    </div>

    <section class="container galeria-portafolio_1">
        <div class="contenedor-img">
            <div class="row galeria1">
                <a href="#!" class="col">
                    <img class="img_galeria" src="/img/galeria_portafolio/id_auditum.jpg" alt="">
                </a>
                <a href="#!" class="col">
                    <img class="img_galeria" src="/img/galeria_portafolio/id_barrios.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="contenedor-img">
            <div class="row galeria2">
                <a href="#!" class="col">
                    <img class="img_galeria" src="/img/galeria_portafolio/id_collg.jpg" alt="">
                </a>
                <a href="#!" class="col">
                    <img class="img_galeria" src="/img/galeria_portafolio/id_crater.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="contenedor-img">
            <div class="row galeria1">
                <a href="#!" class="col">
                    <img class="img_galeria" src="/img/galeria_portafolio/id_frontera.jpg" alt="">
                </a>
                <a href="#!" class="col">
                    <img class="img_galeria" src="/img/galeria_portafolio/id_ilu.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="contenedor-img">
            <div class="row galeria2">
                <a href="#!" class="col">
                    <img class="img_galeria" src="/img/galeria_portafolio/id_libros.jpg" alt="">
                </a>
                <a href="#!" class="col">
                    <img class="img_galeria" src="/img/galeria_portafolio/id_lmc.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="contenedor-img">
            <div class="row galeria1">
                <a href="#!" class="col">
                    <img class="img_galeria" src="/img/galeria_portafolio/id_mapauc.jpg" alt="">
                </a>
                <a href="#!" class="col">
                    <img class="img_galeria" src="/img/galeria_portafolio/id_memoria.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="contenedor-img">
            <div class="row galeria2">
                <a href="#!" class="col">
                    <img class="img_galeria" src="/img/galeria_portafolio/id_perros.jpg" alt="">
                </a>
                <a href="#!" class="col">
                    <img class="img_galeria" src="/img/galeria_portafolio/id_peso.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="contenedor-img">
            <div class="row galeria1">
                <a href="#!" class="col">
                    <img class="img_galeria" src="/img/galeria_portafolio/id_planetario.jpg" alt="">
                </a>
                <a href="#!" class="col">
                    <img class="img_galeria" src="/img/galeria_portafolio/id_porno.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="contenedor-img">
            <div class="row galeria2">
                <a href="#!" class="col">
                    <img class="img_galeria" src="/img/galeria_portafolio/id_qup.jpg" alt="">
                </a>
                <a href="#!" class="col">
                    <img class="img_galeria" src="/img/galeria_portafolio/id_ra.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="contenedor-img">
            <div class="row galeria1">
                <a href="#!" class="col">
                    <img class="img_galeria" src="/img/galeria_portafolio/id_rc.jpg" alt="">
                </a>
                <a href="#!" class="col">
                    <img class="img_galeria" src="/img/galeria_portafolio/id_rcplegable.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="contenedor-img">
            <div class="row galeria2">
                <a href="#!" class="col">
                    <img class="img_galeria" src="/img/galeria_portafolio/id_toms.jpg" alt="">
                </a>
                <a href="#!" class="col">
                    <img class="img_galeria" src="/img/galeria_portafolio/id_verne.jpg" alt="">
                </a>
            </div>
        </div>
    </section>

<!-- banner animado -->
<%- include('../partials/banner') %>
<!-- banner animado -->

<%- include('../partials/footer') %>