<%- include('../partials/header') %>

<!-- banner animado -->
<%- include('../partials/banner') %>
<!-- banner animado -->

    <div class="container">
        <div class="texto-intro">
            <p>
                <b><a class="color-negro" href="/hiedra">hiedra</a></b> es un proyecto de diseño gráfico enfocado en

                museografía y diseño editorial <span class="color-verde">* * *</span> eun experimen-
                to de publicaciones impresas, sonoras, digitales y
    
                ficticias <b>><a class="color-negro" id="bnt1" href="/malahierba">[malahierba]</a><</b> <span class="color-verde">* * *</span> y una cartografía mu-
                sical en permanente construcción <b>><a class="color-negro" id="btn2" href="/malahierba">[malahierba trop-ical]</a><</b>
            </p> 
        </div>
    </div>

    <div class="container galeria-portafolio">
        <div class="contenedor-img">
            <div class="galeria1">
                <img src="/img/id_ra.jpg" alt="">
                <img src="/img/id_qup.jpg" alt="">
            </div>
            <div class="galeria2">
                <img src="/img/p02.jpg" alt="">
                <img src="/img/p04.jpg" alt="">
            </div>
        </div>
    </div>

<%- include('../partials/footer') %>