<%- include('../partials/header') %>

<!-- banner animado -->
<%- include('../partials/banner') %>
<!-- banner animado -->

    <div class="container">
        <div class="texto-intro">
            <p>
                <b>hiedra</b> es un proyecto de diseño gráfico enfocado en

                museografía y diseño editorial <span class="color-verde">* * *</span> eun experimen-
                to de publicaciones impresas, sonoras, digitales y
    
                ficticias <b>>[malahierba]<</b> <span class="color-verde">* * *</span> y una cartografía mu-
                sical en permanente construcción <b>>[malahierba trop-ical]<</b>
            </p> 
        </div>
    </div>

    <div class="galeria-portafolio">
        
    </div>

<%- include('../partials/footer') %>