<%- include('../partials/header') %>


<section class="contenedor-info">
    <div class="container">
        <div class="textos-info">
            hieeedra@gmail.com<br>
            <b>laura Pérez</b><br>
            <span class="estilo">medellín - ciudad de méxico</span><br>
            <b>2023</b>
            <br><br>
            <b><a class="color-negro" href="/hiedra">hiedra</a></b> es un proyecto de diseño gráfico enfocado en

            museografía y diseño editorial <span class="color-verde">* * *</span> eun experimen-
            to de publicaciones impresas, sonoras, digitales y

            ficticias <b class="btn1">><a class="color-negro" href="#!">[malahierba]</a><</b> <span class="color-verde">* * *</span> y una cartografía mu-
            sical en permanente construcción <b class="btn2">><a class="color-negro" href="#!">[malahierba trop-ical]</a><</b>
            <br><br>
            texto.... FRAGMENTOS FRAGMENTACION
        </div>
    </div>
</section>


<!-- banner animado -->
<%- include('../partials/banner') %>
<!-- banner animado -->

<%- include('../partials/footer') %>