<%- include('../partials/header') %>


<section class="contenedor-detalle">
    <div class="container">
        <div class="contenido">
            <div class="texto-portafolio">
                <h1><b>La casa suena
                Festival Auditum.</b>
                <span class="estilo">Medellín, 2020</span></h1>
                <br>
                Impreso para La Semana de la Escucha.
                Contiene 11 piezas sonoras creadas para poner en resonancia objetos, espacios y acciones cotidianas.
                
                <b>Proyecto:</b> Diseño editorial e ilustración.
                <b>Cliente:</b> Exploratorio, Parque Explora.
                <b>Impresión:</b> Risografía.
                Disponible en auditum.co/la-casa-suena/
            </div>
            <img src="/img/portafolio/au10.jpg" class="img-responsive img-prpal-portafolio">
            <div class="row contenedor-miniaturas">
                <div class="col-md-6"><img src="/img/portafolio/au07.jpg" class="img-responsive"></div>
                <div class="col-md-6"><img src="/img/portafolio/au05.jpg" class="img-responsive"></div>
                <div class="col-md-6"><img src="/img/portafolio/au06.jpg" class="img-responsive"></div>
                <div class="col-md-6"><img src="/img/portafolio/au09.jpg" class="img-responsive"></div>
            </div>
        </div>
    </div>
</section>


<!-- banner animado -->
<%- include('../partials/banner') %>
<!-- banner animado -->

<%- include('../partials/footer') %>